{% extends "store/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block content %}

<div class="col-sm-6 offset-3">
<br>
<h1 style="text-align: center">{% trans "Sign In" %}</h1>


<p>{% blocktrans %}If you have not created an account yet, then please 
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>


<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
<br>
  <button class="primaryAction btn btn-dark w-100 btn-lg mt-1" type="submit">{% trans "Sign In" %}</button>
</form>

<br style="line-height:6">

</div>

{% endblock %}

